<div class="row">
  <div class="col-lg-12 progresstion-header">
    <ul class="progression-bar">
      <li class="col-xs-4">
        <span>Collector</span>
      </li>
      <li class="col-xs-4">
        <span>Configuration</span>
      </li>
      <li class="col-xs-4 active">
        <span>Download</span>
      </li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="logo-download">
        <img class="img-reponsive center-block" src="assets/images/logo.png" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <button class="btn btn-primary btn-previous pull-left" ng-click="previous()">Back</button>
  </div>
</div>
