@import "variables.scss";

body{
  height: 100%;
}

.content{
  min-height: 500px;
}

.container{
  margin-top: 20px;
}

.collector {
  height: 90px;
  .logo{
    background: $primary-color;
    padding: 20px;
    border: 2px solid $primary-color;
    border-radius: 10px;
    height: 70px;
    img{
      max-height:30px;
      max-width:100px;
    }
  }
}

.header-title {
  font-size: 20px;
  margin-bottom:20px;
}


.btn{
  width: 150px;
  padding: 15px 20px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0 none;
}

@mixin btn-theme($color-primary, $color-secondary) {
  background: $color-primary;
  color: #FFFFFF;
  &:hover, &:focus, &:active{
    background: $color-secondary !important;
    box-shadow: none;
    outline: 0 none;
  }
}

.btn-next{
  @include btn-theme($btn-color-primary, $btn-color-secondary);
}

.btn-previous{
  @include btn-theme($btn-prev-color-primary, $btn-prev-color-secondary);
}

.progresstion-header{
  margin-bottom: 20px;
}

.progression-bar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li{
    height: 50px;
    color: #E7E7E7;
    border-bottom: 2px solid #E7E7E7;
    span{
      font-size: 22px;
      margin-left: 20px;
      text-transform: uppercase;
    }
    &.active{
      color: $btn-color-primary;
      border-bottom: 2px solid $btn-color-primary;
    }
  }
}

.logo-download{
  margin-top: 20px;
  img{
    width: 100px;
  }

}
